@import "../../assets/scss/mixin.scss";

.about-banner {
  padding: 25px 15px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;

  h1 {
    text-transform: uppercase;
    color: $blue1;
    background-color: #fff;
    padding-top: 8px;
    padding-inline: 25px;
    display: inline-block;
    font-size: 60px;
  }
}

.about-introduce {
  padding: 25px 15px;

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    .img {
      width: 100%;
      height: 100%;
      min-height: 350px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    @include r768 {
      display: flex;
      flex-direction: column-reverse;
      gap: 20px;
    }
  }
}

.about-divider {
  max-width: 1200px;
  width: 100%;
  height: 1px;
  margin: auto;
  background-color: #c5c5c5;
}

.about-detail {
  padding: 25px 15px;
  .container {
    display: flex;
    flex-wrap: nowrap;

    @include r768 {
      flex-wrap: wrap;
    }

    .about-vision,
    .about-team {
      width: 50%;
    }

    h2 {
      margin-bottom: 20px !important;
      color: $blue1;
      font-size: 40px;
      text-align: start;

      @include r768 {
        text-align: center;
      }
    }

    .about-vision {
      margin-bottom: 20px;

      @include r1200 {
        width: 77%;
      }

      @include r768 {
        width: 100%;
      }

      p {
        text-align: start;

        @include r768 {
          text-align: justify;
        }
      }
    }

    .about-team {
      margin-left: 25px;
      padding-left: 25px;
      border-left: 1px solid #c5c5c5;

      @include r1200 {
        width: 33%;
      }

      @include r768 {
        width: 100%;
        padding-left: 25px;
        border: none;
      }

      .boss {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: flex-start;

        @include r768 {
          justify-content: center;
        }

        .boss-wrap {
          img {
            width: 240px;
            height: 240px;
            margin-bottom: 20px;
          }

          h3 {
            font-size: 24px;
            color: $blue1;
          }

          span {
            color: #7b7b7b;
            font-size: 18px;
            font-weight: 300 !important;
          }
        }
      }
    }
  }
}

.about-award {
  padding: 25px 15px;

  
  h2 {
    margin-bottom: 20px !important;
    color: $blue1;
    font-size: 40px;
    text-align: center;
  }

  .img-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: $gap 100px;
    justify-content: center;

    img {
      object-fit: contain;
      height: auto;

      @include r768 {
        height: 80px;
      }
    }
  }
}
