@import "../../assets/scss/mixin.scss";

// .row {
//   @include container-std();
// }

.contact-info {
  padding-top: 50px;
  padding-bottom: 50px;

  @include r1024 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .container {
    display: flex;
    align-items: center;
    gap: $gap;
    flex-wrap: wrap;
    justify-content: center;

    @include responsive_lg() {
      flex-wrap: nowrap;
    }

    .social-info {
      text-align: center;
      margin-bottom: $gap;

      @include responsive_md() {
        text-align: start;
      }

      @include responsive_lg() {
        margin-right: 80px;
        width: 60%;
      }

      h1 {
        font-size: 35px;
        text-transform: uppercase;
        color: blue;

        @include responsive_md() {
          font-size: 42px;
        }
      }

      p {
        color: #7b7b7b;
        margin-bottom: $gap !important;
        font-size: 20px;
      }

      .social-icons {
        display: flex;
        gap: $gap;
        justify-content: center;

        @include responsive_md() {
          justify-content: start;
        }
      }
    }

    .wrap {
      display: flex;
      flex-direction: column;
      gap: $gap;

      @include responsive_lg() {
        width: 40%;
        display: flex;
        flex-direction: row;
        gap: 30px 100px;
        flex-wrap: wrap;
      }

      .inner {
        span {
          margin-left: 10px;
          font-size: 20px;
          font-weight: 600;
          color: blue;
        }

        p {
          margin-top: 10px;
        }
      }
    }
  }
}

.form-send {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 25px;
  padding-bottom: 25px;


  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: $gap;

    @include responsive_md() {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: none;
      gap: 50px;
    }

    * {
      color: #fff;
    }

    h2 {
      font-size: 30px;
      margin-bottom: $gap !important;
      text-align: center;

      @include responsive_md() {
        text-align: start;
      }
    }

    input {
      font-size: 16px;
      font-weight: 300 !important;
      border: none;
      border-bottom: 1px solid #fff;
      border-radius: 0;
      background-color: unset;
      color: #fff;

      &::placeholder {
        color: #fff;
      }

      &:focus {
        box-shadow: none;
      }
    }

    button {
      @include btn-std();
      background-color: #ffffff;
      color: blue;
      margin-top: 30px;
      width: 100%;

      @include responsive_md() {
        width: auto;
      }
    }
  }
}

#block-3 {
  display: flex;
  align-items: center;
  gap: 50px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;

  @include responsive_md() {
    flex-wrap: nowrap;
    text-align: start;
  }

  h2 {
    font-size: 45px;
    color: blue;
    margin-bottom: calc(#{$gap} - 10px) !important;

    @include responsive_md() {
      font-size: 35px;
    }
  }

  p {
    font-size: 18px;
  }

  .download-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: -30px;

    @include responsive_md() {
      margin-left: 0;
    }
  }
}

:global(.ant-form-item-explain-error) {
  font-size: 14px !important;
  color: #a90000 !important;
}

.success {
  color: #fff;
  font-size: 16px;
  font-weight: 600 !important;
  margin-top: -10px;
  min-height: 25px;

  svg {
    color: #fff;
    margin-bottom: -2px;
    margin-right: 10px;
  }
}

.failure {
  color: #a90000;
  font-size: 16px;
  font-weight: 600 !important;
  margin-top: -10px;
  min-height: 30px;

  svg {
    color: #a90000;
    margin-bottom: -2px;
    margin-right: 10px;
  }
}

.response {
  height: 25px;
  width: 1px;
  margin-top: -10px;
}
