@import "../../assets/scss/mixin";

.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
  max-height: 720px;
  position: relative;
  &::after {
    top: 0;
    right: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      70.55% 48.72% at 50% 55.39%,
      rgba(0, 0, 0, 0) 34.38%,
      rgba(49, 26, 5, 0.88) 100%
    );
    border-radius: 10px;
  }
}

.home-introduction {
  .container {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 79px;

    @include r1024 {
      padding-top: 35px;
      padding-bottom: 35px;
    }

    h2 {
      align-self: center;
      padding-bottom: 13px;
      @include r768 {
        text-align: center;
      }
    }
    svg {
      margin: auto;
    }
    .img {
      @include r1200() {
        display: none;
      }
    }
    .ant-row {
      padding-top: 45px;

      .ant-col:first-child {
        padding-right: 28px;
        @include r1200() {
          padding-right: 0;
        }
      }
      .ant-col:last-child {
        padding-left: 28px;
        @include r1200() {
          padding-left: 0;
        }

        .introduction-text {
          display: flex;
          flex-direction: column;

          p {
            padding-bottom: 34px;
            @include r1200 {
              text-align: center;
            }
          }

          .button {
            display: flex;
            @include r1200 {
              justify-content: center;
            }
            .ant-btn {
              span {
                color: white;
                font-weight: 600;
                font-size: 24px;
              }
              border-radius: 30px;
              height: 60px;
              width: 250px;
              background-color: $green2;
              border: none;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

.home-specialist {
  background-color: $grey3;
  padding-bottom: 20px;
  padding-top: 60px;

  @include r1024 {
    padding-bottom: 10px;
    padding-top: 30px;
  }
  .container {
    display: flex;
    flex-direction: column;

    h2 {
      align-self: center;
      padding-bottom: 13px;
      @include r768 {
        text-align: center;
      }
    }

    & > svg {
      margin: auto;
      margin-bottom: 40px;
    }

    .slick-arrow {
      display: none !important;
    }

    .right,
    .left {
      display: flex !important;
      align-items: center !important;

      .icon {
        cursor: pointer;
        display: flex !important;
        width: 48px;
        height: 48px;
        background: rgba(0, 159, 33, 0.6);
        border-radius: 100px;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 0 6px rgba(0, 159, 33, 0.2);
        transition: box-shadow 0.3s ease-in;
        &:hover {
          box-shadow: 0 0 0 6px rgba(0, 159, 33, 0.6);
        }
        @include r1024() {
          width: 30px;
          height: 30px;
        }
      }
    }

    .right {
      justify-content: flex-end;
    }

    .group {
      width: 361px;
      height: 400px;
      position: relative;

      &::before {
        position: absolute;
        content: " ";
        width: 280px;
        height: 277px;
        bottom: 90px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 10px;
        background-color: #9acd57;
      }

      &::after {
        left: 50%;
        bottom: 90px;
        content: " ";
        position: absolute;
        width: 280px;
        height: 146px;
        transform: translate(-50%);
        background: linear-gradient(
          180deg,
          rgba(7, 69, 20, 0) 35.42%,
          rgba(7, 69, 20, 0.9) 100%
        );
        border-radius: 10px;
      }

      img {
        width: 112%;
        max-height: 261px;
        object-fit: contain;
        position: absolute;
        bottom: 90px;
      }

      .name {
        z-index: 1;
        position: absolute;
        left: 50%;
        bottom: 90px;
        transform: translate(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          max-width: 280px;
          width: 100%;
          font-weight: 700 !important;
          font-size: 20px;
          line-height: 21px;
          text-align: center;
          margin-bottom: 20px !important;
          color: #ffffff;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
      }

      .des {
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform: translate(-50%);
        width: 100%;
        max-width: 280px;

        p {
          max-width: 280px;
          font-size: 16px !important;
          line-height: 16.8px !important;
          font-weight: 400;
        }
      }
    }
  }
}

.home-clean {
  .img {
    width: 100%;
    height: 100%;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
.ant-col:last-child {
  width: 100%;
}
  .warp-clean {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    .clean-content {
      padding-left: 130px;

      @include r1200 {
        padding: 50px 50px
      }

      @include r480 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        margin: auto;
      }

      h2 {
        font-size: 40px !important;
        line-height: 42px !important;
        color: #ffffff;
        margin-bottom: 23px !important;
      }
      p {
        max-width: 420px;
        font-size: 16px !important;
        line-height: 16.8px !important;
        color: #ffffff !important;
      }
    }
  }
}

.home-facility {
  .ant-row {
    @include r768 {
      flex-flow: wrap-reverse
    }
  }

  .img {
    width: 100%;
    height: 100%;
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  .warp-facility {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .facility-content {
      padding-right: 120px;

      @include r1200 {
        padding: 50px;
      }

      @include r480 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        margin: auto;
      }

      h2 {
        font-size: 40px !important;
        line-height: 42px !important;
        color: #ffffff;
        margin-bottom: 23px !important;
      }
      p {
        max-width: 480px;
        font-size: 16px !important;
        line-height: 16.8px !important;
        color: #ffffff !important;
      }
    }
  }
}

.home-product {
  padding-top: 60px;

  h2 {
    text-align: center;
    color: $black;
    font-size: 45px;
    line-height: 47.25px !important;
    padding-bottom: 10px;
    margin-bottom: 46px;
  }

  .hl {
    margin: auto;
    margin-bottom: 46px;
    width: 124px;
    height: 5px;
    background-color: #8cc640;
  }

  .ant-col:first-child {
    display: flex;
    justify-content: center;
    align-items: center;

    .img {
      max-width: 583px;
      padding: 20px 0px;
    }
  }

  .ant-col:last-child {
    width: 100%;
    height: 100%;
  }
  .product-text {
    width: 100%;
    height: 100%;
    .warp-product-text {
      padding: 50px 0px 66px 68px;

      @include r640 {
        padding: 20px;
      }

      a {
        width: 300px;
        display: flex;

        @include r480 {
          margin: auto;
        }
      }

      .title {
        margin-bottom: 4px !important;
        color: $white;
        font-size: 20px !important;
        line-height: 21px !important;
      }

      .section {
        display: flex;
        margin: 25px 0;
        align-items: center;

        svg {
          width: 50px;
          height: 50px;
        }

        .text {
          margin-left: 23px;

          p:first-child {
            margin-bottom: 5px !important;
            font-weight: 700 !important;
            font-size: 16px !important;
            line-height: 16.8px !important;
            color: $white;
          }

          p:last-child {
            font-weight: 400 !important;
            font-size: 12px !important;
            line-height: 12.6px !important;
            color: $white;
            max-width: 406px;
          }
        }
      }

      .ant-btn {
        span {
          color: #14613c;
          font-weight: 600;
          font-size: 20px;
        }
        border-radius: 99999px;
        height: 60px;
        width: 300px;
        background-color: #ffe665;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.home-certification {
  padding-top: 80px;
  padding-bottom: 68px;

  @include r1024 {
    padding-top: 40px;
    padding-bottom: 34px;
  }
  h2 {
    text-align: center;
    color: $black;
    font-size: 45px;
    line-height: 47.25px !important;
    padding-bottom: 10px;
    margin-bottom: 46px;
  }

  .hl {
    margin: auto;
    margin-bottom: 46px;
    width: 124px;
    height: 5px;
    background-color: #8cc640;
  }

  .certification-group {
    .ant-row {
      @include r1200 {
        justify-content: center;
      }
    }

    img {
      height: auto;
      @include r768 {
        height: 250px;
      }
    }

    .CNYT {
      max-width: 720.22px;
    }

    .CNQT {
      max-width: 362px;
    }
  }
}

.home-partner {
  background-color: $grey3;
  padding-top: 80px;
  padding-bottom: 100px;

  @include r1024 {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  h2 {
    text-align: center;
    color: $black;
    font-size: 45px;
    line-height: 47.25px !important;
    padding-bottom: 10px;
    margin-bottom: 46px;
  }

  .hl {
    margin: auto;
    margin-bottom: 46px;
    width: 124px;
    height: 5px;
    background-color: #8cc640;
  }

  .partner-group {

    .ant-col {
      padding-left: 50px;
      padding-right: 50px;

      @include r768 {
        padding-left: 25px;
        padding-right: 25px;
      }

      @include r640 {
        padding-left: 10;
        padding-right: 10;
      }
    }

    img {
      height: auto;
      
      @include r1024 {
        height: 100px;
      }
    }

    .BVHN {
      max-width: 228px;
    }

    .BVQD {
      max-width: 142px;
    }

    .BVDA {
      max-width: 165px;
    }
  }
}

.home-form {
  display: flex;
  padding: 50px 0;

  @include r1024 {
    padding: 25px 0;
  }

  .form-image {
    width: 55%;
    min-height: 581px;

    @include r1024 {
      display: none;
    }
  }

  .form-content {
    position: relative;
    width: 45%;
    text-align: start;
    margin-left: 30px;
    margin-right: 130px;
    @include r1024 {
      width: 90%;
      text-align: center;
      margin: auto;
    }
  }

  h2 {
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 32px;
    line-height: 34px !important;
    color: $black;

    @include r768 {
      margin-bottom: 20px;
    }
  }

  input {
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #aeaeae;
    border-radius: 0;

    &:focus {
      box-shadow: none;
    }
  }

  textarea {
    border: none;
    border-bottom: 1px solid #aeaeae;
    border-radius: 0;

    &:focus {
      box-shadow: none;
    }
  }

  .ant-btn {
    span {
      color: white;
      font-weight: 600;
      font-size: 24px;
    }
    border-radius: 30px;
    height: 60px;
    width: 250px;
    background-color: $green2;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @include r1024 {
      margin-top: 20px;
      margin: auto;
    }
  }
}

.home-news {
  padding-top: 60px;
  padding-bottom: 70px;
  overflow-x: hidden;
  background-color: $grey3;

  @include r1024 {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  h2 {
    text-align: center;
    font-size: 45px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 38px;
    color: $black;
    padding-bottom: 13px;
  }

  .img {
    width: 100%;
    height: 100%;
  }
  .group {
    padding: 0 10px;
    .card-body {
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        max-width: 316px;
        width: 100%;
        font-weight: 700 !important;
        font-size: 20px;
        line-height: 21px;
        text-align: center;
        margin-bottom: 20px !important;
        color: #ffffff;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }

      span {
        max-width: 310px;
        width: 100%;
        font-weight: 400;
        font-weight: normal;
        font-size: 12px;
        line-height: 13px;
        text-align: center;
        margin-bottom: 20px;
        color: #ffffff;
      }
    }
    .img-card {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      height: 270px;
      @include r480 {
        height: 45vw !important;
      }

      &::after {
        top: 0;
        right: 0;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(7, 69, 20, 0) 50%,
          #042c0d 100%
        );
        border-radius: 10px;
      }
    }
  }
}
