@import "../../assets/scss/mixin";

.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
  max-height: 720px;
  position: relative;
  &::after {
    top: 0;
    right: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      70.55% 48.72% at 50% 55.39%,
      rgba(0, 0, 0, 0) 34.38%,
      rgba(49, 26, 5, 0.88) 100%
    );
    border-radius: 10px;
  }
  img {
    flex-shrink: 0;
  }
}

.home-introduction {
  background-color: $grey3;
  .container {
    display: flex;
    flex-direction: column;
    h2 {
      align-self: center;
      padding-top: 70px;
      padding-bottom: 13px;
      @include r768 {
        text-align: center;
      }
    }
    svg {
      margin: auto;
    }
    img {
      height: 100%;
      @include r1024() {
        max-height: 60vw;
        padding-bottom: 40px;
      }
    }
    .ant-row {
      padding-bottom: 79px;
      padding-top: 45px;

      .ant-col:first-child {
        padding-right: 28px;
        @include r1024() {
          padding-right: 0;
        }
      }
      .ant-col:last-child {
        padding-left: 28px;
        @include r1024() {
          padding-left: 0;
        }

        .introduction-text {
          display: flex;
          flex-direction: column;

          p {
            padding-bottom: 34px;
            @include r768 {
              text-align: center;
            }
          }

          .ant-btn {
            span {
              color: white;
              font-weight: 600;
              font-size: 24px;
            }
            border-radius: 30px;
            height: 60px;
            width: 250px;
            background-color: $green2;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            @include r768 {
              margin: auto;
            }
          }
        }
      }
    }
  }
}

.home-specialist {
  .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    h2 {
      align-self: center;
      padding-top: 60px;
      padding-bottom: 13px;
      @include r768 {
        text-align: center;
      }
    }

    & > svg {
      margin: auto;
      margin-bottom: 40px;
    }

    .slick-arrow {
      display: none !important;
    }

    .group {
      width: 361px;
      height: 427px;
      position: relative;
      &::after {
        position: absolute;
        z-index: -1;
        content: " ";
        width: 280px;
        height: 277px;
        bottom: 90px;
        left: 50%;
        transform: translate(-50%);
        border-radius: 10px;
        background-color: #9acd57;
      }
      img {
        width: 112%;
        height: auto;
        position: absolute;
        bottom: 90px;
      }

      .des {
        position: absolute;
        bottom: 0;

        p {
          font-size: 16px;
          font-weight: 400;
          padding-left: 25px;
        }
      }
    }
  }
}

.right,
.left {
  display: flex !important;
  align-items: center !important;

  .icon {
    cursor: pointer;
    display: flex !important;
    width: 48px;
    height: 48px;
    background: rgba(0, 159, 33, 0.6);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 6px rgba(0, 159, 33, 0.2);
    transition: box-shadow 0.3s ease-in;
    &:hover {
      box-shadow: 0 0 0 6px rgba(0, 159, 33, 0.6);
    }
    @include r1024() {
      width: 30px;
      height: 30px;
    }
  }
}

.right {
  justify-content: flex-end;
}

.home-green-meal {
  .warp-green-meal {
    padding-top: 120px;
    padding-bottom: 105px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include r768 {
      text-align: center;
      align-items: center;
    }

    p {
      font-size: 20px;
      line-height: 21px;
      color: $white;
    }

    .paragraph {
      padding-top: 37px;
      padding-bottom: 50px;
      max-width: 451px;
    }

    h2 {
      font-size: 60px;
      line-height: 63px !important;
      color: $white;
    }

    .ant-btn {
      span {
        color: $green3;
        font-weight: 600;
        font-size: 20px;
      }
      border-radius: 99999px;
      height: 60px;
      width: 240px;
      background-color: $white;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.home-partner {
  background-color: $grey3;
  h2 {
    text-align: center;
    color: $black;
    font-size: 45px;
    line-height: 47.25px !important;
    padding-top: 80px;
    padding-bottom: 10px;
    margin-bottom: 46px;
  }

  .hl {
    margin: auto;
    margin-bottom: 46px;
    width: 124px;
    height: 5px;
    background-color: #8cc640;
  }

  .partner-group {
    // display: flex;
    // justify-content: space-between;
    padding-bottom: 100px;
    // @include r768 {
    //   flex-flow: row wrap;
    //   justify-content: space-around;
    // }

    .logoAV {
      max-width: 318px;
    }

    .logoVD {
      max-width: 156px;
    }

    .logoLVFH {
      max-width: 140px;
    }

    .logoMD {
      max-width: 306px;
    }
  }
}

.home-form {
  display: flex;
  padding: 50px 0;

  .form-image {
    width: 55%;
    min-height: 581px;

    @include r1024 {
      display: none;
    }
  }

  .form-content {
    position: relative;
    width: 45%;
    text-align: start;
    margin-left: 70px;
    margin-right: 130px;
    @include r1024 {
      width: 90%;
      text-align: center;
      margin: auto;
    }
  }

  h2 {
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 32px;
    line-height: 34px !important;
    color: $black;

    @include r768 {
      margin-bottom: 20px;
    }
  }

  input {
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #aeaeae;
    border-radius: 0;

    &:focus {
      box-shadow: none;
    }
  }

  textarea {
    border: none;
    border-bottom: 1px solid #aeaeae;
    border-radius: 0;

    &:focus {
      box-shadow: none;
    }
  }

  .ant-btn {
    span {
      color: white;
      font-weight: 600;
      font-size: 24px;
    }
    border-radius: 30px;
    height: 60px;
    width: 250px;
    background-color: $green2;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @include r1024 {
      margin-top: 20px;
      margin: auto;
    }
  }
}

.home-news {
  padding-top: 60px;
  padding-bottom: 70px;
  overflow-x: hidden;
  background-color: $grey3;

  h2 {
    text-align: center;
    font-size: 45px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 38px;
    color: $black;
    padding-bottom: 13px;
  }

  .img {
    width: 100%;
    height: 100%;
  }
  .group {
    padding: 0 10px;
    .card-body {
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        max-width: 316px;
        width: 100%;
        font-weight: 700 !important;
        font-size: 20px;
        line-height: 21px;
        text-align: center;
        margin-bottom: 20px !important;
        color: #ffffff;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }

      span {
        max-width: 310px;
        width: 100%;
        font-weight: 400;
        font-weight: normal;
        font-size: 12px;
        line-height: 13px;
        text-align: center;
        margin-bottom: 20px;
        color: #ffffff;
      }
    }
    .img-card {
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      max-height: 270px;
      @include r480 {
        height: 45vw !important;
      }

      &::after {
        top: 0;
        right: 0;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          rgba(7, 69, 20, 0) 50%,
          #042c0d 100%
        );
        border-radius: 10px;
      }
    }
  }
}
