@import "../../assets/scss/mixin";

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
  max-height: 720px;
  &:after {
    background: radial-gradient(
      70.55% 48.72% at 50% 55.39%,
      rgba(0, 0, 0, 0) 34.38%,
      rgba(49, 26, 5, 0.88) 100%
    );
  }
  img {
    flex-shrink: 0;
  }
}

.introduction {
  background-color: $grey3;
  .container {
    display: flex;
    flex-direction: column;
    h2 {
      align-self: center;
      padding-top: 70px;
      padding-bottom: 13px;
      @include r768 {
        text-align: center;
      }
    }
    svg {
      margin: auto;
    }
    img {
      height: 100%;
      @include r1024() {
        max-height: 60vw;
        padding-bottom: 40px;
      }
    }
    .ant-row {
      padding-bottom: 79px;
      padding-top: 45px;

      .ant-col:first-child {
        padding-right: 28px;
        @include r1024() {
          padding-right: 0;
        }
      }
      .ant-col:last-child {
        padding-left: 28px;
        @include r1024() {
          padding-left: 0;
        }

        .introduction-text {
          display: flex;
          flex-direction: column;

          p {
            padding-bottom: 34px;
            @include r768 {
              text-align: center;
            }
          }

          .ant-btn {
            span {
              color: white;
              font-weight: 600;
              font-size: 24px;
            }
            border-radius: 30px;
            height: 60px;
            width: 250px;
            background-color: $green2;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            @include r768 {
              margin: auto;
            }
          }
        }
      }
    }
  }
}

.specialist {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  h2 {
    align-self: center;
    padding-top: 60px;
    padding-bottom: 13px;
    @include r768 {
      text-align: center;
    }
  }

  & > svg {
    margin: auto;
  }

  .slick-arrow {
    display: none !important;
  }

  .group {
    width: 361px;
    height: 427px;
    position: relative;
    &::after {
      position: absolute;
      z-index: -1;
      content: " ";
      width: 240px;
      height: 300px;
      bottom: 66px;
      left: 50%;
      transform: translate(-50%);
      background-color: #9acd57;
    }
    img {
      width: 112%;
      height: auto;
      position: absolute;
      bottom: 66px;
    }

    .des {
      position: absolute;
      bottom: 0;
    }

    .r1 {
      display: flex;
      padding-left: 44px;

      .c1 {
        font-weight: normal;
        font-size: 18px;
        line-height: 19px;
        color: #8a8a8a;
      }
      .c2 {
        font-weight: 600 !important;
        font-size: 18px;
        line-height: 19px;
        color: #213479;
        font-style: normal;
      }
    }
  }
}

.right,
.left {
  display: flex !important;
  align-items: center !important;

  .icon {
    cursor: pointer;
    display: flex !important;
    width: 48px;
    height: 48px;
    background: rgba(0, 159, 33, 0.6);
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 6px rgba(0, 159, 33, 0.2);
    transition: box-shadow 0.3s ease-in;
    &:hover {
      box-shadow: 0 0 0 6px rgba(0, 159, 33, 0.6);
    }
    @include r1024() {
      width: 30px;
      height: 30px;
    }
  }
}

.right {
  justify-content: flex-end;
}

.warp-green-meal {
  padding-top: 120px;
  padding-bottom: 105px;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @include r768 {
    text-align: center;
    align-items: center;
  }

  p {
    font-size: 20px;
    line-height: 21px;
    color: $white;
  }

  .paragraph{
    padding-top: 37px;
    padding-bottom: 50px;
    max-width: 451px;
  }

  h2 {
    font-size: 60px;
    line-height: 63px !important;
    color: $white;
  }

  .ant-btn {
    span {
      color: $green3;
      font-weight: 600;
      font-size: 20px;
    }
    border-radius: 99999px;
    height: 60px;
    width: 240px;
    background-color: $white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.partner {
  background-color: $grey3;
  h2 {
    text-align: center;
    color: $black;
    font-size: 45px;
    line-height: 47.25px !important;
    padding-top: 80px;
    padding-bottom: 10px;
    margin-bottom: 46px;

    &::after {
      content: " ";
      bottom: 0;
      left: 0;
      position: absolute;
      width: 124px;
      height: 5px;
      background-color: #8cc640;
    }
  }

  .partner-group {
    display: flex;
    justify-content: space-between;

    .logoAV {
      max-width: 318px;
    }
  
    .logoVD {
      max-width: 156px;
    }
  
    .logoLVFH {
      max-width: 140px;
    }
  
    .logoMD {
      max-width: 306px;
    }
  }
}