@import "../../../assets/scss/mixin.scss";

.container {
  background-color: #f3f6fa;

  @include responsive-xl() {
    @include container-std();
    padding-block: 0 !important;
  }

  .inner {
    background-color: #fff;
    padding: 25px 15px;

    @include responsive-lg() {
      padding-block: 50px;
      padding-inline: 200px;
    }
  }

  img {
    max-width: 100%;
    margin-block: $gap;
  }

  :global(.video-responsive) {
    margin: auto;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
  
  h1 {
    font-size: 40px;
    color: $blue1;

    @include responsive-xs() {
      font-size: 35px;
    }
  }

  h2 {
    font-size: 25px;
    color: $blue1;
    margin-block: 20px !important;
  }

  h3 {
    font-size: 22px;
    color: $blue1;
    margin-block: 20px !important;
  }

  span {
    font-size: 16px;
    font-weight: 400 !important;
    font-style: italic;
  }

  img {
    height: 500px;
    object-position: center;
    margin-top: 0;

    @include responsive-xs() {
      height: 300px;
    }
  }

  :global(.image) {
    text-align: center;

    span {
      display: block;
    }
  }

  ul {
    margin-top: 10px;

    li {
      font-weight: 400 !important;
    }
  }

  a {
    font-weight: 400 !important;
  }

  strong {
    color: #666;
  }
}

.container-404 {
  @include container-std();
  min-height: 60vh;
}
