@import "../../assets/scss/mixin.scss";

.wrap-footer {
  padding-top: 40px;
  padding-bottom: 50px;

  p {
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
    color: $white;
  }

  span {
    font-size: 16px;
    line-height: 17px;
    color: $white;
  }

  a {
    font-size: 16px;
    line-height: 17px;
    color: $white !important;
  }

  .company {
    display: flex;
    flex-direction: column;
    @include r768() {
      align-items: center;
    }

    .company-logo {
      padding-bottom: 40px;
    }
    p {
      text-transform: uppercase;
      padding-bottom: 24px;
    }

    .company-info {
      
    .company-text:nth-child(1) {
      padding-bottom: 19px !important;
    }

    .company-text {
      display: flex;
      align-items: center;
      column-gap: 12px;
      font-size: 18px;
    }
    }
  }

  .contact {
    padding-top: 18px;
    padding-left: 75px;
    display: flex;

    @include r1024 {
      padding-left: 0;
    }

    .line {
      position: relative;
      padding-bottom: 10px;
      &:after {
        position: absolute;
        content: " ";
        bottom: 0;
        left: 0;
        width: 48px;
        border: 0.75px solid $white;
      }
    }

    .about-left {
      display: flex;
      flex-direction: column;

      @include r768() {
        display: none;
      }

      h2:first-child {
        font-weight: bold !important;
      }

      ul {
        padding-top: 15px;
        li {
          padding-bottom: 14px;
        }

        li:last-child {
          padding-bottom: 0px;
        }
      }
    }

    .about-right {
      padding-left: 95px;

      @include r768() {
        padding-left: 0;
        margin: auto
      }

      p:first-child {
        font-weight: bold !important;
      }

      .input-group {
        display: flex;
        align-items: center;
        height: 50px;
        margin-bottom: 30px;
        margin-top: 21px;
        padding: 2px;
        border: 1px solid #fff;
        border-radius: 8px;

        input {
          border: none;
          background: transparent;
          color: #fff;
          &:focus {
            box-shadow: none;
          }
          &::placeholder {
            color: #fff;
          }
        }

        .ant-btn {
          background-color: #fff;
          border: none;
          border-radius: 8px !important;
        }

        span {
          color: #389A20;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .media-group {
        padding-top: 26px;
        padding-bottom: 34px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .media-logo {
          display: flex;

          div:first-child {
            padding-right: 19px;
          }
        }
      }

      img {
        max-width: 171px;
      }
    }
  }
}

.side-bar {
  z-index: 100;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px 0 0 5px;

  .icon {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(1) {
      background-color: #6fbd1b;
    }
    &:nth-child(2) {
      background-color: #017ff7;
    }
    &:nth-child(3) {
      background-color: #26d27c;
    }
    &:nth-child(4) {
      background-color: #67d7ef;
    }

    a {
      display: flex;
    }
  }
}
